<div class="header-container">
  <h1 class="login-title">{{ title }}</h1>
  <p class="login-subtitle">{{ subtitle }}</p>
</div>

<div class="main-container">
  <div class="login-container mt-5">
    <form>
      <div class="mb-3">
        <input type="text" class="form-control mt-5" placeholder="Nombre" />
      </div>

      <div class="mb-3">
        <input type="text" class="form-control" placeholder="Apellidos" />
      </div>

      <div class="mb-3">
        <input type="email" class="form-control" placeholder="Mail" />
      </div>

      <div class="mb-3">
        <input type="password" class="form-control" placeholder="Contraseña" />
      </div>

      <div class="mb-3">
        <input type="tel" class="form-control" placeholder="Teléfono" />
      </div>

      <button type="submit" class="btn btn-login my-3">REGISTRO</button>
    </form>

  </div>
</div>