.header-container {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: white;
}

.main-container {
  background-color: #3498db;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  padding: 30px;
  border-radius: 10px;
  width: 100%;
  max-width: 90%;
  text-align: center;
}

.login-title {
  font-size: 8vh;
  margin-bottom: -15px;
}

.login-subtitle {
  font-size: 1.4vh;
}

.btn-login {
  background-color: #002741;
  color: white;
  border: 1px solid white;
  width: 50%;
  border-radius: 3vh;
  height: 5vh;
}