<div class="profile-container p-3">
  <div class="d-flex justify-content-between align-items-center">
    <div class="back-arrow">
      <button class="btn btn-link text-black p-0" (click)="goBack()">
        <i class="fa-solid fa-arrow-left fs-1"></i>
      </button>
    </div>
    <div class="flex-grow-1 text-end">
      <p class="mb-0 fw-bold">{{ breadcrumb }}</p>
    </div>
  </div>

  <div class="d-flex justify-content-center mt-3">
    <div class="position-relative d-inline-block">
      <ng-container *ngIf="previewPhotoUrl; else showCurrentPhoto">
        <img [src]="previewPhotoUrl" alt="Foto de perfil" class="custom-photo shadow">
      </ng-container>
      <ng-template #showCurrentPhoto>
        <ng-container *ngIf="user?.photoUrl; else defaultPhoto">
          <img [src]="user?.photoUrl" alt="Foto de perfil" class="custom-photo shadow" (error)="onImageError($event)">
        </ng-container>
        <ng-template #defaultPhoto>
          <i class="fa-solid fa-circle-user fa-7x custom-icon-profile"></i>
        </ng-template>
      </ng-template>
      <button class="btn btn-link position-absolute camera-button" (click)="openCropModal()">
        <i class="fa-solid fa-camera fs-3 text-black"></i>
      </button>
      <input type="file" #fileInput (change)="onFileSelected($event)" hidden>
    </div>
  </div>

  <form #editProfileForm="ngForm" (ngSubmit)="guardarCambios(editProfileForm)">
    <div class="profile-info ps-4 pt-4">
      <div class="mb-3">
        <label class="fw-bold">Nombre</label>
        <input type="text" class="form-control" placeholder="Nombre" [(ngModel)]="nombre" name="nombre" required
          minlength="3" pattern="^[A-Za-zÁÉÍÓÚáéíóúÑñ\s]+$" #nombreInput="ngModel" (ngModelChange)="validateNombre()">
        <div *ngIf="submitted && nombreInput.invalid" class="alert alert-danger mt-1">
          <div *ngIf="nombreInput.errors?.['required']">El nombre es obligatorio.</div>
          <div *ngIf="nombreInput.errors?.['minlength']">El nombre debe tener al menos 3 carácteres.</div>
          <div *ngIf="nombreInput.errors?.['pattern']">El nombre solo puede contener letras.</div>
        </div>
        <div *ngIf="nombreProfanity" class="alert alert-danger mt-1">
          El nombre contiene palabras prohibidas.
        </div>
      </div>

      <div class="mb-3">
        <label class="fw-bold">Apellidos</label>
        <input type="text" class="form-control" placeholder="Apellidos" [(ngModel)]="apellidos" name="apellidos"
          required minlength="3" pattern="^[A-Za-zÁÉÍÓÚáéíóúÑñ\s]+$" #apellidosInput="ngModel"
          (ngModelChange)="validateApellidos()">
        <div *ngIf="submitted && apellidosInput.invalid" class="alert alert-danger mt-1">
          <div *ngIf="apellidosInput.errors?.['required']">Los apellidos son obligatorios.</div>
          <div *ngIf="apellidosInput.errors?.['minlength']">Los apellidos deben tener al menos 3 carácteres.</div>
          <div *ngIf="apellidosInput.errors?.['pattern']">Los apellidos solo pueden contener letras.</div>
        </div>
        <div *ngIf="apellidosProfanity" class="alert alert-danger mt-1">
          Los apellidos contienen palabras prohibidas.
        </div>
      </div>

      <div class="mb-3">
        <label class="fw-bold">Mail</label>
        <input type="email" class="form-control" placeholder="example@mail.com" [(ngModel)]="mail" name="mail" required
          pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" #mailInput="ngModel"
          (ngModelChange)="validateMail()">
        <div *ngIf="submitted && mailInput.invalid" class="alert alert-danger mt-1">
          <div *ngIf="mailInput.errors?.['required']">El mail es obligatorio.</div>
          <div *ngIf="mailInput.errors?.['pattern']">El mail debe tener el formato correcto: ejemplo&#64;mail.com</div>
        </div>
        <div *ngIf="mailProfanity" class="alert alert-danger mt-1">
          El mail contiene palabras prohibidas.
        </div>
      </div>

      <div class="mb-3">
        <label class="fw-bold">Teléfono</label>
        <input type="tel" class="form-control" placeholder="Teléfono" [(ngModel)]="telefono" name="telefono" required
          pattern="^[0-9]+$" minlength="6" #telefonoInput="ngModel">
        <div *ngIf="submitted && telefonoInput.invalid" class="alert alert-danger mt-1">
          <div *ngIf="telefonoInput.errors?.['required']">El teléfono es obligatorio.</div>
          <div *ngIf="telefonoInput.errors?.['pattern']">El teléfono solo puede contener números.</div>
          <div *ngIf="telefonoInput.errors?.['minlength']">El teléfono debe tener al menos 6 carácteres.</div>
        </div>
      </div>

      <div class="mb-3">
        <label class="fw-bold">Nueva Contraseña</label>
        <input type="password" class="form-control" placeholder="Nueva contraseña" [(ngModel)]="newPassword"
          name="newPassword" minlength="6" #newPasswordInput="ngModel">
        <div *ngIf="submitted && newPasswordInput.invalid && newPassword" class="alert alert-danger mt-1">
          <div *ngIf="newPasswordInput.errors?.['minlength']">La contraseña debe tener al menos 6 carácteres.</div>
        </div>
      </div>

      <div class="mb-3">
        <label class="fw-bold">Confirmar Contraseña</label>
        <input type="password" class="form-control" placeholder="Confirmar contraseña" [(ngModel)]="confirmPassword"
          name="confirmPassword" minlength="6" #confirmPasswordInput="ngModel">
        <div *ngIf="submitted && confirmPasswordInput.invalid && confirmPassword" class="alert alert-danger mt-1">
          <div *ngIf="confirmPasswordInput.errors?.['minlength']">La confirmación debe tener al menos 6 carácteres.
          </div>
        </div>
        <div *ngIf="submitted && newPassword && confirmPassword && newPassword !== confirmPassword"
          class="alert alert-danger mt-1">
          Las contraseñas no coinciden.
        </div>
      </div>
    </div>

    <button type="submit" class="btn btn-login mt-4 d-block mx-auto"
      [disabled]="!isFormModified || nombreProfanity || apellidosProfanity || mailProfanity">
      GUARDAR
    </button>
  </form>
</div>