.container {
  min-height: calc(100vh - 200px);
}

.home-container {
  height: 88%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.greeting {
  margin-bottom: 10px;
}

.search-container {
  position: relative;
  width: 75%;
}

.search-results {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: 169px;
  overflow-y: auto;
  z-index: 10;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #fff;
  box-sizing: border-box;
  margin-top: 4px;
  padding: 4px 0;
}

.search-results .list-group {
  margin: 0;
  padding: 0;
}

.search-results .list-group-item {
  padding: 8px 12px;
  border: none;
}

.search-results .list-group-item+.list-group-item {
  border-top: 1px solid #ddd;
}

.list-group-item {
  cursor: pointer;
  padding: 8px 12px;
  transition: background-color 0.2s ease;
}

.list-group-item:hover {
  background-color: #f8f9fa;
}

.footer {
  width: 100%;
  text-align: center;
  margin-top: auto;
}

.notification-badge {
  position: absolute;
  top: -10px;
  right: -10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  color: #fff;
  font-size: 0.9rem;
}

.responsive-icon {
  font-size: 4vw;
}

.bg-success-subtle {
  background-color: #ffffff !important;
  border-radius: 15px;
  border: 1px solid #dbdbdb6f;
}

.appointment-edit {
  background-color: #ffffff !important;
  border-radius: 15px;
  border: 1px solid #dbdbdb6f;
  display: inline-block;
}

.btn-dark {
  background: linear-gradient(45deg, #3498DB, #2C80B4);
  color: white;
  border: 1px solid white;
  border-radius: 20px;
  padding: 10px 20px;
  transition: background-color 0.4s ease, transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.btn-dark:hover {
  background: linear-gradient(45deg, #2C80B4, #3498DB);
  transform: translateY(-1px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.btn-dark:active {
  transform: translateY(0);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.btn-success {
  background: linear-gradient(45deg, #002741, #003346);
  color: white;
  border: 1px solid white;
  border-radius: 20px;
  padding: 10px 20px;
  transition: background-color 0.4s ease, transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.btn-success:hover {
  background: linear-gradient(45deg, #003346, #002741);
  transform: translateY(-1px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.btn-success:active {
  transform: translateY(0);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.notification-badge.bg-danger {
  animation: bounce 11s infinite;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  1% {
    transform: translateY(-5px);
  }

  2% {
    transform: translateY(0);
  }

  3% {
    transform: translateY(-5px);
  }

  4% {
    transform: translateY(0);
  }

  5% {
    transform: translateY(-5px);
  }

  6% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(0);
  }
}