.container {
  min-height: calc(100vh - 200px);
}

.home-container {
  height: 88%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.greeting {
  margin-bottom: 10px;
}

.search-container {
  position: relative;
  width: 75%;
  height: 50px;
}

.search-results {
  position: absolute;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  z-index: 10;
}

.list-group-item {
  cursor: pointer;
  padding: 8px 12px;
  transition: background-color 0.2s ease;
}

.list-group-item:hover {
  background-color: #f8f9fa;
}

.footer {
  width: 100%;
  text-align: center;
  margin-top: auto;
}

.notification-badge {
  position: absolute;
  top: -10px;
  right: -10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  color: #fff;
  font-size: 0.9rem;
}

.responsive-icon {
  font-size: 4vw;
}

.bg-success-subtle {
  background-color: #ffffff !important;
  border-radius: 15px;
  border: 1px solid #dbdbdb6f;
}

.appointment-edit {
  background-color: #ffffff !important;
  border-radius: 15px;
  border: 1px solid #dbdbdb6f;
  display: inline-block;
}

.btn-dark {
  background-color: #3498DB !important;
  border: none;
  border-radius: 15px;
}

.btn-success {
  background-color: #002741 !important;
  border: none;
  border-radius: 15px;
}