.navbar {
  height: 12%;
}

.color-navbar {
  background-color: #3498DB;
}

.responsive-icon {
  font-size: 13vw;
}

.style-title {
  position: relative;
  z-index: 1;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: end;
}

.clickable-icon {
  position: relative;
  z-index: 2;
  cursor: pointer;
}

.navbar-photo {
  width: 13vw;
  height: 13vw;
  border-radius: 50%;
  object-fit: cover;
}