<nav class="navbar text-white color-navbar">
  <div class="container-fluid d-flex justify-content-between align-items-center position-relative h-100">

    <div class="invisible">
      <i class="fa-solid fa-circle-user fa-3x"></i>
    </div>

    <div class="position-absolute w-100 d-flex align-items-end style-title">
      <span class="fs-3 text-center w-100">
        {{ title }}
      </span>
    </div>

    <div class="d-flex align-items-center clickable-icon" routerLink="/profile">
      <i class="fa-solid fa-circle-user responsive-icon"></i>
    </div>

  </div>
</nav>