<nav class="navbar text-white color-navbar">
  <div class="container-fluid d-flex justify-content-between align-items-center position-relative h-100">
    <div class="invisible">
      <i class="fa-solid fa-circle-user"></i>
    </div>
    <div class="position-absolute d-flex justify-content-center align-items-end style-title">
      <span class="fs-3 text-center">{{ title }}</span>
    </div>
    <div class="d-flex align-items-center clickable-icon" *ngIf="showProfileIcon" routerLink="/profile">
      <ng-container *ngIf="user?.photoUrl; else defaultIcon">
        <img [src]="user?.photoUrl" alt="Perfil" class="navbar-photo shadow">
      </ng-container>
      <ng-template #defaultIcon>
        <i class="fa-solid fa-circle-user responsive-icon"></i>
      </ng-template>
    </div>
  </div>
</nav>