<div class="modal-overlay">
  <div class="modal-content">
    <h3 class="modal-title">Editar trabajador</h3>

    <div class="modal-body" #modalBody>
      <div class="form-group">
        <label class="form-label">Nombre del trabajador</label>
        <input type="text" [(ngModel)]="worker.name" class="form-control" required>
      </div>

      <div class="form-group">
        <label class="form-label">Días laborables</label>
        <div class="d-flex flex-wrap">
          <div class="form-check me-3" *ngFor="let day of workingDays">
            <input type="checkbox" class="form-check-input" [id]="day.value" [(ngModel)]="day.selected" required>
            <label class="form-check-label" [for]="day.value">{{ day.label }}</label>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="form-label">Hora de inicio de jornada</label>
        <input type="time" class="form-control" [(ngModel)]="startTime" required>
      </div>
      <div class="form-group">
        <label class="form-label">Hora de fin de jornada</label>
        <input type="time" class="form-control" [(ngModel)]="endTime" required>
      </div>
      <div class="form-group">
        <div class="mb-2">
          <label class="form-label">Inicio de descanso</label>
          <input type="time" class="form-control" [(ngModel)]="breakStart" placeholder="Inicio" required>
        </div>
        <div>
          <label class="form-label">Fin de descanso</label>
          <input type="time" class="form-control" [(ngModel)]="breakEnd" placeholder="Fin" required>
        </div>
      </div>

      <div class="form-group">
        <label class="form-label">Añade tarea y duración</label>
        <div class="vertical-input-group">
          <div class="input-fields">
            <input type="text" placeholder="Nombre de la tarea" [(ngModel)]="newTaskName"
              (ngModelChange)="validateTaskName()" class="form-control">
            <input type="number" placeholder="Minutos" [(ngModel)]="newTaskDuration" class="form-control">
          </div>
          <button class="btn btn-outline-secondary btn-add-task" type="button" (click)="addTask()">
            <i class="fa-solid fa-plus"></i>
          </button>
        </div>
        <div *ngIf="taskNameDuplicate" style="color: red; margin-top: 5px;">
          Ya hay una tarea que se llama así, por favor llámala diferente para diferenciarlas
        </div>
      </div>

      <task-list-component [tasks]="worker.tasks || []" (removeTask)="onRemoveTask($event)"></task-list-component>
    </div>

    <div class="modal-footer d-flex justify-content-center mt-4">
      <button class="btn custom-cancel-btn me-2" (click)="cancel()">Cancelar</button>
      <button class="btn custom-confirm-btn" (click)="save()"
        [disabled]="!isModified || !isSaveEnabled">Guardar</button>
    </div>
  </div>
</div>