<div class="profile-container p-3">
  <div class="d-flex justify-content-between align-items-center">
    <div class="back-arrow">
      <button class="btn btn-link text-black p-0" (click)="goBack()">
        <i class="fa-solid fa-arrow-left fs-1"></i>
      </button>
    </div>
    <div class="flex-grow-1 text-end">
      <p class="mb-0 fw-bold">{{ breadcrumb }}</p>
    </div>
  </div>

  <div class="d-flex justify-content-center mt-3">
    <ng-container *ngIf="user?.photoUrl; else defaultPhoto">
      <img [src]="user?.photoUrl" alt="Foto de perfil" class="custom-photo">
    </ng-container>
    <ng-template #defaultPhoto>
      <i class="fa-solid fa-circle-user fa-7x custom-icon-profile"></i>
    </ng-template>
  </div>

  <div class="profile-info ps-4 pt-4">
    <div class="mb-3">
      <label class="fw-bold">Nombre</label>
      <p class="mb-0">{{ user?.name }}</p>
    </div>
    <div class="mb-3">
      <label class="fw-bold">Apellidos</label>
      <p class="mb-0">{{ user?.lastName }}</p>
    </div>
    <div class="mb-3">
      <label class="fw-bold">Mail</label>
      <p class="mb-0">{{ user?.email }}</p>
    </div>
    <div class="mb-3">
      <label class="fw-bold">Teléfono</label>
      <p class="mb-0">{{ user?.phone }}</p>
    </div>
  </div>

  <div class="d-flex flex-column align-items-center mt-5">
    <button type="button" class="btn btn-login btn-full mb-3" routerLink="/edit-profile">
      EDITAR PERFIL
    </button>
    <button type="button" class="btn btn-close-session btn-full mb-3" (click)="logout()">
      CERRAR SESIÓN
    </button>
    <button type="button" class="btn btn-delete-account btn-full mb-3" (click)="deleteCompany()" [disabled]="!company">
      ELIMINAR EMPRESA
    </button>
    <button type="button" class="btn btn-delete-account btn-full" (click)="deleteAccount()">
      ELIMINAR CUENTA
    </button>
  </div>

</div>