.custom-icon-profile {
  color: #3498DB;
}

.btn-login {
  background-color: #002741;
  color: white;
  border: 1px solid white;
  width: 50%;
  border-radius: 20px;
}

.btn-close-session {
  background-color: #FFAEAE;
  color: black;
  border: 1px solid white;
  width: 50%;
  border-radius: 20px;
}

.custom-photo {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #3498db88;
}

.custom-icon-profile {
  color: #3498DB;
}

.btn-delete-company {
  background-color: #744c1e;
  color: white;
  border: 1px solid white;
  width: 50%;
  border-radius: 20px;
}

.btn-delete-company:disabled {
  background-color: #cccccc !important;
  border-color: #cccccc !important;
  color: #666666 !important;
  cursor: not-allowed;
}