.main-container {
  background-color: #3498db;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-wrapper {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  margin: 0 auto;
}

.login-title {
  font-size: 50px;
  color: white;
  margin-bottom: 20px;
  text-align: center;
}

.login-container {
  padding: 30px;
  border-radius: 10px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

.btn-login {
  background-color: #002741;
  color: white;
  border: 1px solid white;
  width: 50%;
  border-radius: 20px;
  margin: 0 auto;
  display: block;
}

.register-link {
  margin-top: 10px;
  font-size: 14px;
  color: white;
  text-align: center;
}

.close-button {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1000;
}

.close-button button {
  background: none;
  border: none;
  font-size: 2rem;
  color: #000;
  cursor: pointer;
}