<div class="close-button">
  <button type="button" (click)="close()" class="btn btn-link">
    <i class="fa-solid fa-xmark"></i>
  </button>
</div>

<div class="main-container">
  <div class="form-wrapper text-center">
    <h1 class="login-title">{{ title }}</h1>
    <div class="login-container mt-5">
      <form (ngSubmit)="onLogin()">
        <div class="mb-3">
          <input type="text" class="form-control" placeholder="Mail" [(ngModel)]="email" name="email" required />
        </div>
        <div class="mb-3">
          <input type="password" class="form-control" placeholder="Contraseña" [(ngModel)]="password" name="password"
            required />
        </div>
        <button type="submit" class="btn btn-login my-3">ENTRAR</button>
      </form>
      <p class="register-link">
        No tienes cuenta? <a routerLink="/register" class="text-black fw-bold">Regístrate</a>
      </p>
    </div>
  </div>
</div>