<div class="close-button">
  <button type="button" (click)="close()" class="btn btn-link">
    <i class="fa-solid fa-xmark"></i>
  </button>
</div>

<div class="main-container">
  <div class="form-wrapper text-center">
    <h1 class="login-title" [attr.data-text]="title">{{ title }}</h1>

    <div class="login-container mt-5">
      <form #loginForm="ngForm" (ngSubmit)="onLogin(loginForm)">
        <div class="mb-3">
          <input type="text" class="form-control" placeholder="Mail" [(ngModel)]="email" name="email" required
            pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" #emailInput="ngModel" />
          <div *ngIf="(emailInput.touched || submitted) && emailInput.invalid" class="alert alert-danger mt-1">
            <div *ngIf="emailInput.errors?.['required']">El mail es obligatorio.</div>
            <div *ngIf="emailInput.errors?.['pattern']">
              El mail debe tener el formato correcto: ejemplo&#64;mail.com
            </div>
          </div>
        </div>

        <div class="mb-3">
          <input type="password" class="form-control" placeholder="Contraseña" [(ngModel)]="password" name="password"
            required minlength="6" #passwordInput="ngModel" />
          <div *ngIf="(passwordInput.touched || submitted) && passwordInput.invalid" class="alert alert-danger mt-1">
            <div *ngIf="passwordInput.errors?.['required']">La contraseña es obligatoria.</div>
            <div *ngIf="passwordInput.errors?.['minlength']">
              La contraseña debe tener al menos 6 carácteres.
            </div>
          </div>
        </div>

        <div class="form-check mb-3 d-flex align-items-center justify-content-center">
          <input type="checkbox" class="form-check-input me-2" id="keepLoggedIn" [(ngModel)]="keepLoggedIn"
            name="keepLoggedIn" />
          <label class="form-check-label mb-0" for="keepLoggedIn">
            Recuérdame
          </label>
        </div>

        <button type="submit" class="btn btn-login my-3">ENTRAR</button>
      </form>

      <div *ngIf="errorMessage" class="alert alert-danger mt-3">
        {{ errorMessage }}
      </div>

      <p class="register-link">
        No tienes cuenta? <a routerLink="/register" class="text-black fw-bold">Regístrate</a>
      </p>
    </div>
  </div>
</div>