.custom-icon-profile {
  color: #3498DB;
}

.btn-login {
  background-color: #002741;
  color: white;
  border: 1px solid white;
  width: 50%;
  border-radius: 20px;
}

.form-control {
  font-size: small;
}