<div *ngIf="tasks && tasks.length > 0; else noTasks">
  <h5 class="fw-bold">Lista de tareas</h5>
  <div class="list-group">
    <div class="list-group-item d-flex justify-content-between align-items-center"
      *ngFor="let task of tasks; let i = index">
      <div class="task-info flex-grow-1">
        <span class="task-name fw-bold">{{ task.name }}</span>
        <span class="task-duration ms-2">({{ task.duration }} min)</span>
      </div>
      <div class="d-flex flex-shrink-0 ps-2">
        <button class="btn btn-sm btn-delete" (click)="onRemoveTask(i)">
          <i class="fa-solid fa-xmark"></i>
        </button>
      </div>
    </div>
  </div>
</div>
<ng-template #noTasks>
</ng-template>