body,
html {
  font-family: 'Inter', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

.form-control {
  background: white;
  border-radius: 20px;
  padding: 10px 10px;
  font-size: small;
  color: #002741;
}

.form-control::placeholder {
  color: rgba(0, 0, 0, 0.4);
  font-style: italic;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
