.main-container {
  background: linear-gradient(to right, #3498DB, #36a9f5);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-wrapper {
  width: 100%;
  max-width: 400px;
  padding: 20px;
}

.login-title {
  font-size: 50px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-align: center;
  color: #fff;
  position: relative;
}

.login-title::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: linear-gradient(120deg,
      transparent 40%,
      #8db1c9 50%,
      transparent 60%);

  background-size: 200% auto;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: shimmer 6s linear infinite;
  pointer-events: none;
}

@keyframes shimmer {
  0% {
    background-position: -10% center;
  }

  100% {
    background-position: 190% center;
  }
}

.login-container {
  padding: 0 30px;
  border-radius: 10px;
  text-align: center;
}

.btn-login {
  background: linear-gradient(45deg, #002741, #003346);
  color: white;
  border: 1px solid white;
  border-radius: 20px;
  padding: 10px 20px;
  margin: 0 auto;
  display: block;
  transition: background-color 0.4s ease, transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.btn-login:hover {
  background: linear-gradient(45deg, #003346, #002741);
  transform: translateY(-1px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.btn-login:active {
  transform: translateY(0);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.close-button {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1000;
}

.close-button button {
  background: none;
  border: none;
  font-size: 2rem;
  color: #000;
  cursor: pointer;
}

.alert.alert-danger {
  padding: 0.5rem 0.75rem;
  font-size: 0.85rem;
  margin-top: 0.5rem;
}